@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Light.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Black.ttf);
    font-weight: 600;
}

* {
    font-family: Lato;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

.switch {
    transform: scale(.9);
    position: absolute;
    right: -6pt;
    top: 8pt;
    opacity: 0;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #d6001f80 !important;
}

.switch label input[type=checkbox]:checked+.lever::after {
    background-color: #d6001f !important;
}

.switch label input[type=checkbox]+.lever {
    background-color: #c0c0c080 !important;
}

.switch label input[type=checkbox]+.lever::after {
    background-color: #c0c0c0 !important;
}

.toggles {
    transform: scale(.4);
    position: absolute;
    right: -4pt;
    top: -2pt;
    width: 60px;
    margin: 0 auto;
    text-align: center;
}

select option {
    text-transform: none !important;
}

.ios-toggle,
.ios-toggle:active {
    position: absolute;
    top: -5000px;
    height: 0;
    width: 0;
    opacity: 0;
    border: none;
    outline: none;
}

.checkbox-label {
    display: block;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    height: 36px;
    /*border-radius*/
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    background: #f8f8f8;
    cursor: pointer;
}

.checkbox-label:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    line-height: 34px;
    text-indent: 40px;
    height: 36px;
    width: 36px;
    /*border-radius*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    top: 0px;
    left: 0px;
    right: auto;
    background: white;
    /*box-shadow*/
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
}

.ios-toggle:checked+.checkbox-label {
    /*box-shadow*/
    -webkit-box-shadow: inset 0 0 0 20px #d6001f, 0 0 0 2px #d6001f;
    -moz-box-shadow: inset 0 0 0 20px #d6001f, 0 0 0 2px #d6001f;
    box-shadow: inset 0 0 0 20px #d6001f, 0 0 0 2px #d6001f;
}

.ios-toggle:checked+.checkbox-label:before {
    left: calc(100% - 36px);
    /*box-shadow*/
    -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
}

.ios-toggle:checked+.checkbox-label:after {
    left: 60px;
    width: 36px;
}

#checkbox1+.checkbox-label {
    /*box-shadow*/
    -webkit-box-shadow: inset 0 0 0 0px #d6001f, 0 0 0 2px #dddddd;
    -moz-box-shadow: inset 0 0 0 0px #d6001f, 0 0 0 2px #dddddd;
    box-shadow: inset 0 0 0 0px #d6001f, 0 0 0 2px #dddddd;
}

#checkbox1:checked+.checkbox-label {
    /*box-shadow*/
    -webkit-box-shadow: inset 0 0 0 18px #d6001f, 0 0 0 2px #d6001f;
    -moz-box-shadow: inset 0 0 0 18px #d6001f, 0 0 0 2px #d6001f;
    box-shadow: inset 0 0 0 18px #d6001f, 0 0 0 2px #d6001f;
}

#checkbox1:checked+.checkbox-label:after {
    color: #d6001f;
}

.accent-text {
    color: #d6001f;
}

.accent {
    background-color: #d6001f !important;
    color: white;
}

.bold {
    font-weight: 600 !important;
}

.thin {
    font-weight: 100;
}

.uppercase {
    text-transform: uppercase;
}

.lgreen {
    background-color: #7aaa35 !important;
    color: white !important;
}

.lgreen-text {
    color: #7aaa35;
}

.bg-body {
    width: 100%;
    height: 500pt;
    background-size: auto 500pt;
    background-color: #212637;
    background-image: url("../images/bg.jpg");
    box-shadow: 0 5px 10px #30303080;
    background-position: right center;
    background-repeat: no-repeat;
    /* filter: brightness(.37) grayscale(1); */
    position: absolute;
    z-index: -1;
}

header {
    width: 100%;
    padding: 10pt 80pt;
    background-color: black;
    border-bottom: solid thin #d6001f;
    height: 40pt;
    position: fixed;
    z-index: 1;
}

header .logo img {
    height: 20pt;
}

header .logo a {
    font-size: 20pt;
    line-height: 20pt;
}

header .logo,
main {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    padding: 80pt 0;
}

main .slogan {
    font-size: x-large;
    line-height: 30pt;
    /* transform-origin: 0 0; */
    /* transform: scale(2); */
}

main .slogan p { margin-bottom: 20pt; }
main .slogan ul li { margin-left: 20pt; font-size: large }

main #subtext {
    font-size: 15pt;
    line-height: 30pt;
    border-top: solid thin white;
    margin: 50pt 0;
    width: 390pt;
    /* transform-origin: 0 0; */
    /* transform: scale(2); */
}

main #wizard-mobile {
    background-color: #f2f2f2;
    box-shadow: 3px 3px 3px #30303060;
    padding: 10px;
    width: 100%;
}

main #wizard {
    background-color: #f2f2f2;
    box-shadow: 5px 5px 10px #30303080;
    padding: 20px 50px;
    display: table;
    width: 100%;
}

main .contact-form-wrapper {
    background-color: #f2f2f2;
    box-shadow: 5px 5px 10px #30303080;
    padding: 20px 0;
    width: 100%;
}

main .contact-form-wrapper .section {
    margin: 20px auto;
    width: 70%;
}

main .contact-form-wrapper .input-field {
    margin: 10px auto;
}

main .contact-form-wrapper input[type="text"],
main .contact-form-wrapper .input-field input[type="text"]:focus,
main .contact-form-wrapper .input-field input[type="text"]:active {
    background-color: white;
    /* font-weight: 100;  */
    padding: 2px 15px;
    border-bottom-width: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    height: 40px;
    line-height: 36px;
    width: calc(100% - 30px) !important;
}

.valid-message {
    text-transform: none !important;
    display: none;
}

main .nav .table .cell {
    width: 20%;
}

.step {
    width: 100%;
}

#step1 {
    min-height: 798px;
}

#step2 {
    min-height: 824px;
}

.subheader,
.step .legend {
    display: inline-block;
    font-size: smaller;
    float: left;
    margin-left: -60px;
    padding-left: 60px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    color: #1c1f2b;
    border-bottom: solid thin grey;
}

.subheader {
    position: absolute;
    padding-left: 30px;
    left: 0;
    top: 10px;
    float: none;
}

.subheader.centered {
    max-width: 500px;
    text-align: center !important;
}

.section.relative .subheader.centered {
    position: relative;
    width: 100%;
    left: 0;
    margin-left: 0;
    margin-top: 20px;
    padding-left: 0;
    float: none;
}

.section.lgreen.relative .subheader.centered {
    border-bottom-color: #1c1f2b;
    position: relative;
    width: 100%;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
    float: none;
    text-align: center;
}

.section.relative {
    padding-top: 10px;
}

table,
tbody,
tr {
    border-width: 0;
    position: relative;
}

td,
th {
    text-align: center;
    vertical-align: top;
    padding: 10px;
    width: 20%;
}

table table {
    margin: auto -10px;
    width: calc(100% + 20px);
}

table table td {
    width: 50%;
}

table table.col3 td {
    width: calc(100%/3);
}

.anno {
    width: auto !important;
    max-width: 320px;
}

.anno-content {
    font-family: Lato !important;
}

.anno-btn {
    font-family: Lato !important;
    font-weight: 400 !important;
}

.start-btn {
    background: #7aaa35 !important;
    color: white;
    border-radius: 5px;
    margin: 45pt 0;
    font-weight: 600;
    font-size: large;
    z-index: 0;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.24) !important;
}

.label-accent {
    width: 100%;
    border-radius: 2px;
    height: 40px;
    line-height: 1em;
    padding: 15px 2px;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    border-width: 0;
    font-size: smaller;
    font-weight: 600;
    background-color: transparent;
    color: #7aaa35;
    /* color: #d6001f; */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-accent {
    width: 100%;
    border-radius: 2px;
    padding: 15px 2px;
    line-height: 1em;
    /* margin: 15px 0; */
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    border-width: 0;
    cursor: pointer;
    background-color: white;
    font-size: smaller;
    color: #1c1f2b;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-accent:active,
.btn-accent:focus,
.btn-accent.selected {
    color: white;
    background-color: #d6001f;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-accent.primary {
    margin-bottom: 0;
    color: white;
    background-color: #1c1f2b;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-accent.flat {
    cursor: default;
    color: #1c1f2b;
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
}

.btn-accent.half {
    width: calc(50% - 10px);
}

.btn-accent.half:nth-child(1) {
    float: left;
}

.btn-accent.half:nth-child(2) {
    float: right;
}

.btn-accent.toggle {
    position: relative;
    text-align: left;
    width: 100%;
    min-height: 40px;
    font-weight: 100;
    line-height: 1.3em;
    white-space: normal;
    padding: 0 15px;
}

.additional {
    padding-top: 10px;
    font-size: smaller;
    line-height: 1em;
}

.btn-accent.toggle:focus,
.btn-accent.toggle:active,
.btn-accent.toggle {
    background-color: white;
    color: #1c1f2b;
}

.btn-accent.toggle>span {
    display: inline-block;
    width: calc(100% - 30px);
}

.btn-accent.toggle>i {
    position: absolute;
    margin: 0;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.btn-accent.flat .btn-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: transparent;
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); */
}

.btn-accent.flat .btn-logo img {
    filter: invert(0);
    width: 100%;
    height: 100%;
}

.btn-accent.flat .btn-caption {
    margin-top: 15px;
    padding-top: 15px;
    border-top: solid thin #1c1f2b;
    font-size: larger;
    font-weight: 400;
}

.btn-accent.flat.selected {
    color: #d6001f;
}

.btn-accent.flat.selected .btn-logo {
    background-color: #d6001f;
    /* box-shadow: 4px 4px 12px #30303060; */
}

.btn-accent.flat.selected .btn-logo img {
    filter: invert(1);
}

th:first-child .btn-accent.flat.selected .btn-logo img {
    filter: invert(0);
}

.btn-accent.flat.selected .btn-caption {
    border-top: solid thin #d6001f;
}

.region_image {
    background-image: url('../images/maps/2_1.png');
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
    height: calc(100% - 20px);
    position: absolute;
    top: 10px;
    width: calc(100% - 20px);
}

#maps.region_image {
    background-image: url('../images/maps/0.png');
}

#projects.region_image {
    background-image: url('../images/projects/1.png');
}

#buildings.region_image {
    background-image: url('../images/buildings/0.png');
}

.select-wrapper {
    color: #1c1f2b !important;
    background-color: white !important;
    height: 40px !important;
    line-height: 40px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

select,
input.select-dropdown {
    /* width: calc(100% - 40px) !important; */
    width: 100% !important;
    padding: 0 25px 0 15px !important;
    height: 40px !important;
    line-height: 40px !important;
    border-bottom-width: 0 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    text-align: left;
}

.dropdown-content li>span {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    color: #1c1f2b !important;
}

.dropdown-content li {
    min-height: 40px;
    line-height: 40px;
}

.input-field {
    margin: 0;
}

.input-field * {
    text-transform: uppercase;
    font-size: small !important;
}

.section {
    padding: 10px 30px;
    padding-top: 50px;
    position: relative;
    height: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

svg.caret {
    margin-right: 12px !important;
}

.section>* {
    margin: 10px auto;
}

.row {
    position: relative;
}

.stretch {
    position: absolute;
    right: 0 !important;
    bottom: 0;
    top: 0;
}

#contact_phone {
    font-size: larger;
}

.thanks>div {
    max-width: 500px;
    margin: 0 auto;
}

.thanks p {
    margin: 25px 0;
    font-size: medium;
}

.thanks p a {
    border-radius: 50%;
    margin: 0 5px;
    height: 45px;
    width: 45px;
    display: inline-block;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.thanks p a img {
    filter: grayscale(1);
    width: 100%;
    height: 100%;
}

.thanks p a img:hover {
    transition: .15s;
    filter: grayscale(0);
}

.contacts {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 60pt;
}

.contacts input {
    width: 100% !important;
}

@media screen and (max-width: 992px) {
    .section>* {
        margin: 4px auto;
    }
    .total-mobile {
        display: none;
    }
    .total-tablet {
        display: block;
    }
    .thanks p {
        margin: 25px 10px;
        font-size: small;
    }
    header {
        width: 100%;
        padding: 9pt 20pt;
        height: 30pt;
        position: absolute;
        z-index: 0;
    }
    header .logo img {
        line-height: 12pt;
        height: 10pt;
    }
    header .logo a {
        font-size: 12pt;
        line-height: 12pt;
    }
    main .slogan {
        margin-top: 100px;
        font-size: 12pt;
        line-height: 15pt;
    }
    main #subtext {
        margin: 70px 0;
        font-size: 12pt;
        line-height: 15pt;
        border-top: solid thin white;
        display: inline-block;
        width: auto;
    }
    .bg-body {
        height: 400px;
        background-size: auto 400px;
    }
    .section {
        padding: 4px 8px;
        margin: 4px;
        position: relative;
        background-color: transparent;
        box-shadow: 0 0 0 white;
    }
    .row {
        margin: 4px;
    }
    .btn-accent.flat .btn-logo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 0 auto;
        background-color: transparent;
        box-shadow: 0 0 0 white;
    }
    .btn-accent.flat .btn-logo img {
        filter: invert(0);
        width: 100%;
        height: 100%;
    }
    .btn-accent.flat .btn-logo.inversed {
        filter: invert(1);
    }
    .contacts {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
    }
    main .contact-form-wrapper .section .subheader.centered {
        position: relative;
        margin-bottom: 15px;
        padding-left: 0;
        max-width: 250px;
        width: 100%;
        left: 0;
    }
    main .contact-form-wrapper .section {
        background-color: transparent !important;
        padding: auto 0;
        margin: 0 auto;
        width: 100%;
    }
    main .contact-form-wrapper .section {
        background-color: transparent !important;
    }
    .btn-accent.flat .btn-caption {
        margin-top: 4px;
        padding-top: 4px;
        border-top-width: 0px;
        border-bottom: solid thin #1c1f2b;
        display: inline-block;
        font-size: larger;
        font-weight: 400;
    }
    .only-mobile {
        display: none !important;
    }
    .only-tablet {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .only-mobile {
        display: block !important;
    }
    .only-tablet {
        display: none;
    }
    .section>* {
        margin: 8px 0;
    }
    .thanks p {
        margin: 25px 10px;
        font-size: smaller;
    }
    header {
        width: 100%;
        padding: 0 6pt;
        height: 15pt;
        position: absolute;
        z-index: 0;
    }
    header .logo img {
        height: 7pt;
    }
    .col {
        padding: 0 4pt !important;
    }
    .col.s7 {
        width: 100% !important;
    }
    .col.s5 {
        width: 100% !important;
    }
    header .logo a {
        font-size: 8pt;
        line-height: 15pt;
    }
    main .slogan {
        margin-top: 60px;
        font-size: 9pt;
        line-height: 14pt;
    }
    main #subtext {
        margin: 40px 0;
        font-size: 9pt;
        line-height: 9pt;
        border-top: solid thin white;
        display: inline-block;
        width: auto;
    }
    .label-accent,
    .additional {
        position: absolute;
        width: auto;
        top: 6.5pt;
        right: 30pt;
        padding: 6pt 0 0 0;
        box-shadow: 0 0 0 white;
        margin: 0;
        height: auto;
        font-size: xx-small;
        pointer-events: none;
    }
    .with-add {
        top: 0pt;
    }
    .additional {
        top: 9pt;
        text-align: right;
        font-size: 6pt;
    }
    .s7 .label-accent {
        right: 40pt;
    }
    .bg-body {
        height: 230px;
        background-size: auto 230px;
    }
    .section {
        padding: 0;
        margin: 0;
        position: relative;
        background-color: transparent;
        box-shadow: 0 0 0 white;
    }
    .row {
        margin: 0;
    }
    .btn-accent.flat {
        padding: 0;
    }
    .btn-accent.flat .btn-logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        background-color: transparent;
        box-shadow: 0 0 0 white;
    }
    .btn-accent.flat .btn-logo img {
        filter: invert(0);
        width: 100%;
        height: 100%;
    }
    .btn-accent.flat .btn-logo.inversed {
        filter: invert(1);
    }
    main .contact-form-wrapper .section .subheader.centered {
        position: relative;
        margin-bottom: 15px;
        padding-left: 0;
        max-width: 250px;
        width: 100%;
        left: 0;
    }
    .total-mobile {
        display: block !important;
        padding-bottom: 70pt;
    }
    .total-tablet {
        display: none;
    }
    main #wizard-mobile {
        padding: 0;
    }
    main .contact-form-wrapper .section {
        background-color: transparent !important;
        padding: auto 0;
        margin: 0 auto;
        width: 100%;
    }
    main .contact-form-wrapper .section {
        background-color: transparent !important;
    }
    .btn-accent.flat .btn-caption {
        margin-top: 0;
        padding-top: 0;
        border-width: 0;
        display: inline-block;
        font-size: small;
        font-weight: 100;
    }
    .total-mobile * {
        font-size: x-small !important;
    }
    .finish-wrapper,
    .total-price-wrapper {
        position: fixed;
        z-index: 1;
        left: 0;
        bottom: 40pt;
        width: 100%;
        height: 30pt;
        /* background-color: orange; */
        background-color: #f2f2f2;
        box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 -3px 1px -2px rgba(0, 0, 0, 0.12), 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    }
    .btn-accent.toggle {
        padding-right: 110px;
    }
    .finish-wrapper {
        bottom: 0;
        height: 40pt;
    }
    .finish-wrapper div {
        padding: 8pt;
        font-size: xx-small !important;
    }
    .total-price-wrapper div {
        font-size: small !important;
        padding: 4pt;
    }
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}