@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Light.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Black.ttf);
    font-weight: 600;
}

* {
    font-family: Lato;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

.bold {
    font-weight: 600 !important;
}

.thin {
    font-weight: 100 !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.lgreen {
    background-color: #7aaa35 !important;
    color: white;
}

.accent {
    background-color: #d6001f !important;
    color: white;
}

.lgreen-text {
    color: #7aaa35 !important;
}

.accent-text {
    color: #d6001f;
}

/* GENERAL  */
html, body {
    width: 100%;
    height: 100%;
}

button, a {
    cursor: pointer;
}


/* HEADER */

header {
    width: 100%;
    padding: 10pt;
    background-color: black;
    border-bottom: solid thin #d6001f;
    height: 40pt;
    position: fixed;
    z-index: 1;
}

header img {
    height: 20pt;
}

header a {
    font-size: 20pt;
    line-height: 20pt;
}

/* MAIN */

main {
    padding: 80pt 0;
    width: 100%;
    min-height: 400pt;
    background-size: 100% 400pt;
    background-repeat: no-repeat;
    background-position: right top;
    background-image: url("../images/bg.jpg");
}

/* WELCOME */
.welcome>p {
    color: white;
    font-size: 1.9em;
    margin-bottom: 25pt;
    text-shadow: 1px 1px 1px black;
}

.welcome .valign-wrapper {
    width: 100%;
    min-height: 400pt;
    background-color: #f2f2f2;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, .3);
}

.welcome .valign-wrapper * {
    margin: 0 auto;
    line-height: 3.5em;
}

.welcome .valign-wrapper ul li {
    margin-left: 15pt;
    font-size: 1.4em;
    line-height: 1.4em;
}
.welcome .valign-wrapper p {
    font-size: 1.8em;
}

.welcome .valign-wrapper .start-button {
    height: 50pt;
    font-size: .9em;
    line-height: 50pt;
    padding: 0 50pt;
    margin-top: 50pt;
    outline: none;
    border-width: 0 !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
}
