* {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

.accent-text {
    color: #d6001f;
}

.accent {
    background-color: #d6001f;
}

.bold {
    font-weight: 600;
}

.thin {
    font-weight: 100;
}

.uppercase {
    text-transform: uppercase;
}

.cell {
    display: inline-block;
    width: 20%;
    padding: 15px 0;
}

.cell.span2 {
    width: 40%;
}

.cell.span3 {
    width: 60%;
}

.cell.span4 {
    width: 80%;
}

.cell.span5 {
    display: block;
}

.bg-body {
    width: 100%;
    height: 350pt;
    background-image: url("../images/4K-Wallpaper-Full-HD-For-Computer-Screens.jpg");
    box-shadow: 0 5px 10px #30303080;
    background-size: cover;
    background-origin: 50% 50%;
    background-repeat: no-repeat;
    filter: brightness(.37) grayscale(1);
    position: absolute;
    z-index: -1;
}

header {
    width: 100%;
    padding: 10pt 80pt;
    background-color: black;
    border-bottom: solid thin #d6001f;
    height: 40pt;
    position: fixed;
    z-index: 1;
}

header .logo img {
    height: 20pt;
}

header .logo a {
    font-size: 20pt;
    line-height: 20pt;
}

main {
    padding: 90pt 80pt;
}

main #slogan {
    font-size: 20pt;
    line-height: 30pt;
    /* transform-origin: 0 0; */
    /* transform: scale(2); */
}

main #subtext {
    font-size: 15pt;
    line-height: 30pt;
    border-top: solid thin white;
    margin: 50pt 0;
    width: 390pt;
    /* transform-origin: 0 0; */
    /* transform: scale(2); */
}

main #wizard {
    background-color: #f2f2f2;
    box-shadow: 5px 5px 10px #30303080;
    padding: 20px 50px;
    display: table;
    width: 100%;
}

main .nav .table .cell {
    width: 20%;
}

.step {
    width: 100%;
}

.step .legend {
    display: inline-block;
    float: left;
    margin-left: -60px;
    padding-left: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: grey;
    border-bottom: solid thin grey;
}

table, tbody, tr {
    border-width: 0;
    position: relative;
}

td, th {
    text-align: center;
    vertical-align: center;
    padding: 10px;
    width: 20%;
}

.label-accent {
    width: 100%;
    border-radius: 2px;
    height: 40px;
    line-height: 1em;
    padding: 15px 2px;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    border-width: 0;
    font-size: smaller;
    font-weight: 400;
    background-color: transparent;
    color: #d6001f;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.btn-accent {
    width: 100%;
    border-radius: 2px;
    padding: 15px 2px;
    line-height: 1em;
    /* margin: 15px 0; */
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    border-width: 0;
    cursor: pointer;
    background-color: white;
    font-size: smaller;
    color: #1c1f2b;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.btn-accent:active, .btn-accent:focus, .btn-accent.selected {
    color: white;
    background-color: #d6001f;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.2);
}

.btn-accent.primary {
    margin-bottom: 0;
    color: white;
    background-color: #1c1f2b;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.2);
}

.btn-accent.flat {
    cursor: default;
    color: #1c1f2b;
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
}

.btn-accent.half {
    width: calc(50% - 10px);
}

.btn-accent.half:nth-child(1) {
    float: left;
}

.btn-accent.half:nth-child(2) {
    float: right;
}

.btn-accent.toggle {
    text-align: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}

.btn-accent.flat .btn-logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 5px;
    background-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.btn-accent.flat .btn-logo img {
    filter: invert(0);
    width: 80px;
    height: 80px;
}

.btn-accent.flat .btn-caption {
    margin-top: 10px;
    padding-top: 5px;
    border-top: solid thin #1c1f2b;
    font-size: larger;
    font-weight: 400;
}

.btn-accent.flat.selected {
    color: #d6001f;
}

.btn-accent.flat.selected .btn-logo {
    background-color: #d6001f;
    box-shadow: 4px 4px 12px #30303060;
}

.btn-accent.flat.selected .btn-logo img {
    filter: invert(1);
}
th:first-child .btn-accent.flat.selected .btn-logo img {
    filter: invert(0);
}

.btn-accent.flat.selected .btn-caption {
    border-top: solid thin #d6001f;
}

.region_image {
    background-image: url('../images/maps/2_1.png');
    background-position: 15px 15px;
    background-size: calc(100% - 30px) calc(100% - 30px);
    background-repeat: no-repeat;
}

.dropdown-trigger.btn {
    width: 100%;
    color: #1c1f2b !important;
    background-color: white;
    height: 40px;
    line-height: 40px;
    text-align: left;
}

.dropdown-content a {
    color: #1c1f2b !important;
}

.section {
    padding: 10px 30px;
}

.section>* {
    margin: 10px auto;
}